** {
  box-sizing: border-box;}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
background-color: #555;}

body, section, div {
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

img{
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;}
