@import "../shared/variables";

.main-content {
	padding: $xl 0 0;

	&-section {
		padding: $xl 0 $l;

		& h2 {
			text-align: center;
			margin: $xl-stack;
		}
	}
}

.section-about {
	&-wrapper {
		background: $gray-dark;
        padding: $m-inset-square;
        
        @media (min-width: 400px) {
            padding: $l-inset-square;
        }
    
        @media (min-width: 600px) {
            padding: $xl-inset-square;
        }
	}

	&-list {
		margin-top: -128px;
		margin-bottom: $l;

		& h3 {
			font-size: 1.5rem;
		}
	}

	& h2 {
		margin: 0 0 160px 0;
		
		@media (min-width: 600px) {
			margin: $xxl-stack;
		}
	}
}

.section-work {
    padding: $m $m 0;
    
    @media (min-width: 400px) {
        padding: $l $l 0;
    }

    @media (min-width: 600px) {
        padding: $xl $xl 0;
    }
}

.section-blog {
	padding: $m-inset-square;
    margin: $xl-stack;
    
    @media (min-width: 400px) {
        padding: $l-inset-square;
    }

    @media (min-width: 600px) {
        padding: $xl-inset-square;
    }

	&-card {
		background: url('/dist/images/uxe-bg.png');
		padding: $l-inset-square;
		position: relative;
		text-decoration: none;
    
        @media (min-width: 600px) {
            padding: $xl-inset-square;
		}
		
		& h3 {
			color: $white;
		}

		&:last-of-type {
			margin: 0 auto;
		}
	}
	&-content {
		a,
		p {
			color: $white;
		}
		@media (min-width: 900px) {
			width: calc(100% - 250px);
		}

		&-link-icon {
			font-size: 1.5rem;
			vertical-align: top;
			margin: 0 0 0 $xs;
		}
	}

	&-image {
		display: none;

		@media (min-width: 900px) {
			display: block;
			position: absolute;
			right: 64px;
			top: -64px;
		}
	}
}