@import "../shared/variables";

.hero-001 {
	background: url('/dist/images/abstract-bg-001.jpg');
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
  background-repeat: no-repeat;
}

.section-new {
    padding: 0 $m;
    
  @media (min-width: 400px) {
		padding: 0 $l;
	}

	@media (min-width: 600px) {
		padding: 0 $xl;
	}
}

.new-link {
	padding: $xl-inset-squish;
	position: relative;
	text-decoration: none;

	&:last-of-type {
		margin: -100px auto 0;

		@media (min-width:800px) {
			margin: -100px auto $l;
		}
	}

	&:before {
		@include box-shadow;
		content: 'NEW';
		background: $primary;
		top: -16px;
		left: -16px;
		border-radius: 50%;
		width: 64px;
		height: 64px;
		position: absolute;
		text-align: center;
		line-height: 64px;
		color: #fff;
		font-weight: 700;
		transition: all 500ms;
		transform: rotate(-24deg);
	}

	&:after {
		content: '';
		border: $gray-dark solid;
		border-width: 4px 4px 0 0;
		right: 32px;
		top: calc(50% - 8px);
		width: 16px;
		height: 16px;
		position: absolute;
		transition: all 250ms;
		transform: rotate(45deg);
	}

	h3, p {
		transition: all 250ms;
	}

	p {
		margin: 0;
	}

}