@import "variables";
body {
	background: $gray-light;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5rem;
	position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	margin: 0 0 16px 0;
}
h1 {
	font-size: 2.5rem;
	line-height: 2.75rem;
}
h2 {
	font-size: 2rem;
	line-height: 2.75rem;

	@media (max-width: 1000px) {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}
h3 {
	font-size: 1.75rem;
    line-height: 2rem;
    
    @media (max-width: 1000px) {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}
h4 {
	font-size: 1.5rem;
	line-height: 2rem;
}
h5 {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
h6 {
	font-size: 1rem;
	line-height: 1.75rem;
}
p {
	color: $black;
	font-size: 1rem;
	line-height: 1.75rem;
	margin: $m-stack;
}
strong {
	font-weight: 700;
}
i {
	margin: $xs-inline;
}
