@import "variables";
//Utility CLasses

.content-width {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
}
.body-text-width {
	max-width: 800px;
	margin: 0 auto;
}
.card-list {
	display: flex;
	flex-direction: column;

	@media (min-width: 800px) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.card {
	box-sizing: border-box;
	display: block;
	margin: $l-stack;
	padding: $l-inset-square;
	transition: all 250ms;
	width: 100%;

	&.white {
		@include box-shadow;
		background: $white;
		border-radius: 4px;
	}

	&.half {
		@media (min-width: 800px) {
			width: calc(100%/2);
		}
	}
	&.third {
		@media (min-width: 800px) {
			width: calc(100%/3);
		}
	}
	&.fourth {
		@media (min-width: 800px) {
			width: calc(50% - 16px);
		}
	}

	&.no-hover {
		&:hover {
			@include box-shadow;
			transform: none;
			cursor: default;
		}
	}

	&:last-of-type {
		margin-right: 0;
	}

	&:hover {
		@include box-shadow-grow;
		transform: translateY(-4px);
	}
}

.text-center {
	text-align: center;
}

.text-white {
	color: $white;
}

.default-list {
	list-style: disc;
	margin-left: $m;
}
.default-list-item {
	margin: $m-stack;
}