@import "../shared/variables";

.hero-002 {
	background: url('/dist/images/abstract-bg-002.jpg');
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
  background-repeat: no-repeat;
}
.hero-003 {
	background: url('/dist/images/abstract-bg-003.jpg');
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
  background-repeat: no-repeat;
}
.hero-004 {
	background: url('/dist/images/abstract-bg-004.jpg');
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
  background-repeat: no-repeat;
}
.hero-005 {
	background: url('/dist/images/abstract-bg-005.jpg');
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
  background-repeat: no-repeat;
}