@import "../shared/variables";
.main-content {
    padding: $xl $m;
    
    @media (min-width: 400px) {
        padding: $xl $l;
    }

    @media (min-width: 600px) {
        padding: $xl-inset-square;
    }
}

.article-bg {
    margin: -100px auto 32px;
    position: relative;
    padding: $l-inset-square;

    @media (min-width: 800px) {
        padding: $xl-inset-squish;
    }

    &:last-of-type {
        margin-right: auto;
    }
}