@import "_variables.scss";

.section-contact {
	background: $primary;
    padding: $xl $m;
    
    @media (min-width: 400px) {
        padding: $xxl $xl;
    }

	h2,
	p {
		color: $white;
	}
	h2 {
        text-align: center;
		margin: $l-stack;
	}

	p {
		margin: 0 auto 64px;
	}

	&-list {
		display: flex;
		font-size: 48px;
		justify-content: center;

		&-icon {
			margin: $l-inline;

			&:last-child {
				margin: 0;
			}
		}

		&-icon a {
			&:hover {
				cursor: pointer;
				color: $tint-light;
			}
		}

		& .email-copy {
			border: none;
			background: none;

			& i {
				font-size: 3rem;
			}

			&:hover {
				cursor: pointer;
				color: $tint-light;
			}
		}
	}
}

footer {
	background: $black;
	padding: $m-inset-square;

	& span {
		display: block;
	}
}