@import "_variables.scss";

.section-contact {
	background: $primary;
    padding: $xl $m;
    
    @media (min-width: 400px) {
        padding: $xxl $xl;
    }

	h2,
	p {
		color: $white;
	}
	h2 {
        text-align: center;
		margin: $l-stack;
	}

	p {
		margin: 0 auto 64px;
	}

	&-list {
		display: flex;
		font-size: 48px;
		justify-content: center;

		&-icon {
			margin: $m-inline;

			@media (min-width: 600px) {
				margin: $l-inline;
			}

			&:last-child {
				margin: 0;
			}
		}

		&-icon a {
			&:hover {
				cursor: pointer;
				color: $tint-light;
			}
		}

		& .email-copy {
			border: none;
			background: none;

			& i {
				font-size: 3rem;
			}

			&:hover {
				cursor: pointer;
				color: $tint-light;
			}
		}
	}
}

.contact-form {

	&-input-wrapper {
		display: flex;
	}

	&-input-label {
		width: 50%;
	}
	&-text-label {
		width: 100%;
	}
	&-input {
		margin: $m-inline;

		&:last-of-type {
			margin-right: 0;
		}
	}
	&-input, &-text-area {
		display: block;
		width: 100%;
		padding: 16px;
    	box-sizing: border-box;
    	border: 0;
    	border-radius: 8px;
    	background: $gray-light;
	}
}

footer {
	background: $black;
	padding: $m-inset-square;

	& span {
		display: block;
	}
}

.alert {
	position: absolute;
	background: $tint-dark;
	bottom: 110px;
	color: $white;
	padding: 8px 16px;
	box-sizing: border-box;
	border-radius: 4px;
	text-align: center;

	&.success {
		left: calc(50% - 80px);
		width: 160px;
	}
	&.fail {
		left: calc(50% - 150px);
		width: 300px;
	}
}
