        body {
            font-family: "open sans", "helvetica", "arial", "sans-serif";
            color: #474747;
        }
        #menuBar {
            background-color: #474747;
            border-radius: 0px;
        }
        .navbar-brand {
            margin-top: 5px;
            padding: 0;
        }
        #topContainer {
            background-image: url(bgimage/tdesignbg.jpg); 
            width: 100%;
            background-size:auto 100%;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            color: #474747;
            padding-top: 60px;
            padding-bottom: 150px;
        }
        #midContainer {
            background-color: #3caab7; 
            width: 100%;
            color: #fff;
            
        }
        #bottomContainer {
            width: 100%;
            padding: 60px 30px;
            margin: 0 auto;
        }
        #row h1{
            font-weight: 600;
            font-size: 250%;
        }
        li {
            font-size: 1.2em;
        }
        #emailBox {
            width: 250px;
        }
        #mockUp {
            width: 100%;
        }
        .emailButton {
            margin-top: 30px;
            background-color: #3caab7;
            color: #fff;
            width: 150px;
        }
        .center {
            text-align: center;
        }
        #betterHeader {
            background-color: #308892;
            padding-bottom: 20px;
        }
        #innerMid {
            padding: 50px 30px;
        }
        .moreInfo {
            padding-top: 25px;
        }
        .moreInfo h1 {
            padding-top: 35px;
        }
        .centerForm {
            margin: 0 auto;
            padding-top: 30px;
        }